body {
    background-color: #d2d8c7;
    overflow:hidden;
}

footer{
    background-color: #777d6a;
    width: 100%;
    padding-bottom: 0px;
    text-align: center;
    position:fixed;
    bottom:0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #d2d8c7;
    color: black;
}

.navbar-default .navbar-nav > li > a {

    color: black;
}

/* removing anchor tag styles */

a.deco-none {
    color:#000000 !important;
    text-decoration:none;

}

.bg-menu:hover {
    background-color:#0079C1;
    color:#FFFFFF;
}

.clickable {
    cursor:pointer; 
}

/* end of removing anchr tag styles */

#logo {
    width: 260px;
    height: 95px;
    padding-left: 15px;
    border-width: 2px;
    
}

.content {
    background-color: #d2d8c7;
    overflow-y: auto;
    overflow-x: hidden;
    height: 85%;
    width:82.2 %;
    padding-left: 32px;
}

.banner{
    background-color: #777d6a;
    width: 100%;
    margin-left: 0px;
    padding-left: 10px;
    border-width: 2px;
}

.breadCrumb{
    background-color: #a9ae9f;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.navMenu {
    background-color: #999f8e;
    margin-bottom: 0px;
    margin-left: 0px;
}


@media screen and (min-width: 767px) {
    .noPad  {
        padding-right:1px;
        padding-left:0px; 
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
@media (max-width:767px) {
    .navM  {
        height: auto;
    }
    .content{
        padding-left: 18px;
    }
    #logo{
        width: 75px;
        height: 37px;
    }
    h1{
        font-size: 1em;
        font-weight: bolder;
    }
    
}

@media (min-width:768px) {
    .navM  {
        height: 78%;
    }
}




/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}
